<script>
    console.log('Entrou no arquivo')
    Highcharts.chart('container', {
    chart:{
        zoomType: 'x'
    },
    title: {
        text: 'Vacinados por dia'
    },

    colors: ['black', 'red', 'rosybrown', 'coral', 'sienna', 'chocolate', 'darkorange', 'gold',
         'darkolivegreen', 'lawngreen', 'darkseagreen', 'darkgreen', 'lightseagreen', 'cyan',
         'blue', 'darkviolet', 'magenta', 'yellow', 'brown', 'purple'],

    subtitle: {
        text: 'Vacinação'
    },

    yAxis: {
        title: {
            text: 'Vacinados dia a dia'
        }
    },

    xAxis: {
        accessibility: {
            rangeDescription: 'Data'
        },
        categories: {{data.info.datas|safe}}
    },

    legend: {
        layout: 'vertical',
        align: 'right',
        verticalAlign: 'middle'
    },

    plotOptions: {
        series: {
            label: {
                connectorAllowed: false
            },
        }
    },

    series:[
        {
            name: 'Vacinados',
            data: {{data.info.quantidade_vacinas|safe}}
        },
    ],
    responsive: {
        rules: [{
            condition: {
                maxWidth: 500
            },
            chartOptions: {
                legend: {
                    layout: 'horizontal',
                    align: 'center',
                    verticalAlign: 'bottom'
                }
            }
        }]
    }

});

</script>